@import "tailwindcss";

@theme {
    --color-primary: #075056;
    --color-background: #16232a;
    --color-text: #e4eef0;
    --color-secondary: #f37f2d;
}

@layer base {
    body {
        @apply bg-background text-text;
        font-family: 'Montserrat', sans-serif;
    }
}