@import "tailwindcss";

@theme {
    --color-primary: #e0c58f;
    --color-background: #112250;
    --color-background-variant: #3c507d;
    --color-text: #f5f0e9;
    --color-text-variant: #D9CBC2;
}